.cart-handling {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    height: 50px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.cart-handling h3 {
    margin: 0;
}

.product-card {
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s ease;
    background: #fff;
}

.product-card:hover {
    transform: translateY(-5px);
}

#button-payment{
    background-color: #fff;
    color: #6302ff;
    font-weight: 700;
    border: 2px solid #6302ff;
    border-radius: 10px;
    padding: 10px 15px;
    transition: background-color 0.2s ease;
}

#button-payment:hover {
    background-color: #f4edff;
}

.product-img {
    border-radius: 15px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.add-to-cart-btn {
    background-color: #6302ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 10px;
    transition: background-color 0.2s ease;
    width: 100%;
}

.add-to-cart-btn:hover {
    background-color: #7927fd;
}

.product-info {
    text-align: center;
}

#cart-count {
    font-weight: bold;
    color: #6302ff;
}